@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
    width: 18rem;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    background-color: black;
}

.navbar-brand img {
    width: 150px;
}